# Database Configuration
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# JPA Configuration
DDL_AUTO=

# CORS Origin Patterns Allowed
CORS_ORIGINS_ALLOWED=

# JWT Configuration
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

# Logging Configuration - Sample Inputs
LOGGING_PATH_PLUS_FILENAME=logs/auth-system.log
LOGGING_MAX_FILE_SIZE=10MB
LOGGING_TOTAL_SIZE_CAP=100MB
LOGGING_MAX_HISTORY=30

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend URL
FRONTEND_URL=

# Oauth 2 Configuration
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_CLIENT_SCOPE=

